.main
  .main-inner
    .container
      .row
        .span12
          = render "mrr_metrics"
      .row
        .span12
          = render "churn_metrics"
      .row
        .span12
          = render "unit_economics"
      .row
        .span12
          = render "summary_financial_metrics"          