.main
  .main-inner
    .container
      .row
        .span12
          = render "mrr_metric_group", metrics:@mrrs,title:"MRR Metrics"
      .row
        .span12
          = render "churn_metric_group", metrics:@churns,title:"Churn Metrics"
