.widget.big-stats-container
  .widget-content
    #big_stats.cf
      .stat
        %h4 Pending Sales Today
        %span.value 12
      .stat
        %h4 Completed Sales Today
        %span.value 23
      .stat
        %h4 Returned Items Today
        %span.value 2
      .stat
        %h4 Something Else
        %span.value 13


