.widget
  .widget-header
    %i.icon-star
    %h3 Quick Stats
  .widget-content
    #trend-chart.chart-holder

= javascript_include_tag "themes/gray.js"

:javascript
  var groupingUnits = [[
    'week',                         // unit name
    [1]                             // allowed multiples
  ], [
    'month',
    [1, 2, 3, 4, 6]
  ]];

  chart = new Highcharts.StockChart({
      chart: {
          renderTo: 'trend-chart',
          alignTicks: false
      },

      rangeSelector: {
          selected: 1
      },

      title: {
          text: "#{title}"
      },

      yAxis: [{
          title: {
              text: 'Count'
          },
          height: 200,
          lineWidth: 2
      }, {
          title: {
              text: 'Volume'
          },
          top: 300,
          height: 100,
          offset: 0,
          lineWidth: 2
      }],
      
      series: [{
          type: 'spline',
          name: 'Count',
          data: #{data},
          dataGrouping: {
            units: groupingUnits
          }
      }]
  });
