.main
  .main-inner
    .container
      .row
        .span12
          = render "bigstats"
      .row
        .span6
          = render "chart", :title => @paidcharges.name,
                            :data  => @paidcharges.daily,
                            :start => @paidcharges.start_date,
                            :div   => "paid-trend-chart"
        .span6    
          = render "chart", :title => @failedcharges.name,
                            :data  => @failedcharges.daily,
                            :start => @failedcharges.start_date,
                            :div   => "cancelation-trend-chart"
      .row
        .span6
          = render "chart", :title => @customers.name,
                            :data  => @customers.daily,
                            :start => @customers.start_date,
                            :div   => "customers-trend-chart"
