.main
  .main-inner
    .container
      .row
        .span12
          = render "bigstats"
      .row
        .span6
          = render "two_charts", :title => "Charges Count",
                            :series => @ch_count,
                            :start =>  @count_start,
                            :unit  =>  ' count',
                            :div   => "charges-count-trend-chart"
        .span6    
          = render "two_charts", :title => "Charges Volume",
                            :series  => @ch_vol,
                            :start => @vol_start,
                            :unit  => ' dollars',
                            :div   => "charges-volume-trend-chart"
      .row
        .span6
          = render "chart", :title => @customers.name,
                            :data  => @customers.daily,
                            :start => @customers.start_date,
                            :div   => "customers-trend-chart"

