%h3 Signup with Stripe
= image_tag "fourth.png" , :class => 'img-rounded', :style => ' margin-left: auto; margin-right: auto;'
%h4
  Use Stripe Connect
  <i class= 'icon-question-sign' rel="clickover" data-content= "#{stripe_connect_help.html_safe}"></i>
  to grant us 
  %strong
    read only
  access to your stripe data. 


:javascript
  $('[rel="clickover"]').clickover({ html : true });

