.span4#firststep
  .widget
    .widget-header
      %i.icon-exchange
      %h3 Signup with Stripe
    .widget-content
      = image_tag "first.png" , :class => 'img-rounded', :style => ' margin-left: auto; margin-right: auto;'
      %p.text-info 
        Signup using your stripe account. 
        This will give us read-only access to your Stripe data.
