.span4#firststep
  .widget
    .widget-header
      %i.icon-exchange
      %h3 Login with Stripe
    .widget-content
      %p Signup using your stripe account. This will give us read-only access to your Stripe data.
      .thumbnail
        = image_tag "first.png"  
      %p Your data is kept confidential and your account anonymous, we don't know who you are, and we don't save qualitative data, only quantitative.  
