.widget.big-stats-container
  .widget-content
    %p.lead
      Simply signup with your Stripe account.
      Get churn rates, acquisition rates, revenue projection, trends and cohort analysis out of the box.
