.span4#secondstep
  .widget
    .widget-header
      %i.icon-coffee
      %h3 Grab Some Coffee
    .widget-content
      .thumbnail
        = image_tag "espresso_cup.jpg" 
      %p.text-info 
        We start importing data as soon as your account is connected.
        It might take a while though, but ... 
