.span4#secondstep
  .widget
    .widget-header
      %i.icon-coffee
      %h3 Grab Some Coffee
    .widget-content
      = image_tag "espresso_cup.jpg" , :class => 'img-rounded', :style => ' margin-left: auto; margin-right: auto;'
      %p.text-info 
        We start importing data as soon as your account is connected.
