.span4#secondstep
  .widget
    .widget-header
      %i.icon-coffee
      %h3 Grab Some Coffee
    .widget-content
      %p We start importing data as soon as you have connected your account.
      .thumbnail
        = image_tag "espresso_cup.jpg" 
      %p It might take a while, but ... 
