%h3 Access your dashboard
= image_tag "dashboard.png" , :class => 'img-rounded', :style => ' margin-left: auto; margin-right: auto;'
%h4
  Chart customer acquisition, churn.
  Revenue, failed charges trends. 
