.span4#thirdstep
  .widget
    .widget-header
      %i.icon-bar-chart
      %h3 Enjoy tout de suite
    .widget-content
      %p You can start viewing your data right away
      .thumbnail
        = image_tag "dashboard.png" 
      %p Full reports are available when all imports finish.   
