.span4#thirdstep
  .widget
    .widget-header
      %i.icon-bar-chart
      %h3 Enjoy tout de suite
    .widget-content
      .thumbnail
        = image_tag "dashboard.png" 
      %p.text-info  
        You can start viewing your data right away. 
        Full reports are available when all imports finish.   
