.span4#thirdstep
  .widget
    .widget-header
      %i.icon-bar-chart
      %h3 Enjoy tout de suite
    .widget-content
      = image_tag "dashboard.png" , :class => 'img-rounded', :style => ' margin-left: auto; margin-right: auto;'
      %p.text-info  
        You can start viewing your data right away. 
        Full reports are available when all imports finish.   
