.row{:style => 'text-align: center;'}
  #first.span4{:style => 'background-color: #ECECEB;'}
    =render 'home/steps/first'
  #second.span4{:style => 'background-color: #ECECEB;'}
    =render 'home/steps/second'
  #third.span4{:style => 'background-color: #ECECEB;'}
    =render 'home/steps/third'
