---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?count=10&created%5Bgte%5D=1375825457&created%5Blt%5D=1375825458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"list\",\n  \"count\": 1,\n  \"url\": \"/v1/customers\",\n
        \ \"data\": [\n    {\n      \"object\": \"customer\",\n      \"created\":
        1375825457,\n      \"id\": \"cus_2KyBimssUouy9T\",\n      \"livemode\": false,\n
        \     \"description\": \"2 user-0046@sensr.net 995:usd:month:7 on test\",\n
        \     \"email\": \"user-0046@sensr.net\",\n      \"subscription\": {\n        \"id\":
        \"su_2KyBCKE6dwHrOS\",\n        \"plan\": {\n          \"interval\": \"month\",\n
        \         \"name\": \"Sensr Plan usd 995/month\",\n          \"amount\": 995,\n
        \         \"currency\": \"usd\",\n          \"id\": \"995:usd:month:7\",\n
        \         \"object\": \"plan\",\n          \"livemode\": false,\n          \"interval_count\":
        1,\n          \"trial_period_days\": 7,\n          \"identifier\": \"995:usd:month:7\"\n
        \       },\n        \"object\": \"subscription\",\n        \"start\": 1375825457,\n
        \       \"status\": \"trialing\",\n        \"customer\": \"cus_2KyBimssUouy9T\",\n
        \       \"current_period_start\": 1375825457,\n        \"current_period_end\":
        1502055918,\n        \"trial_start\": 1375825457,\n        \"trial_end\":
        1502055918,\n        \"quantity\": 1\n      },\n      \"account_balance\":
        0,\n      \"cards\": {\n        \"object\": \"list\",\n        \"count\":
        0,\n        \"url\": \"/v1/customers/cus_2KyBimssUouy9T/cards\",\n        \"data\":
        []\n      },\n      \"default_card\": null,\n      \"next_recurring_charge\":
        {\n        \"date\": \"2017-08-06\",\n        \"amount\": 995\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Tue, 17 Sep 2013 00:36:22 GMT
recorded_with: VCR 2.5.0
