---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?count=10&created%5Bgte%5D=1379357611&created%5Blt%5D=1379357612
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"list\",\n  \"count\": 1,\n  \"url\": \"/v1/charges\",\n
        \ \"data\": [\n    {\n      \"id\": \"ch_2aHhENu6avhzfA\",\n      \"object\":
        \"charge\",\n      \"created\": 1379357611,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 1490,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"cc_0BvDDUg1KZvdom\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2014,\n        \"fingerprint\":
        \"eN9ATrlnOMYF6yIq\",\n        \"customer\": \"cus_0BvDtMufIGsCQj\",\n        \"country\":
        \"US\",\n        \"address_city\": null\n      },\n      \"captured\": true,\n
        \     \"balance_transaction\": \"txn_2aHhNsxQCstUkv\",\n      \"failure_code\":
        null,\n      \"customer\": \"cus_0BvDtMufIGsCQj\",\n      \"invoice\": \"in_2aGiCCol3HYa3Z\",\n
        \     \"dispute\": null,\n      \"fee\": 73,\n      \"fee_details\": [\n        {\n
        \         \"amount\": 73,\n          \"currency\": \"usd\",\n          \"type\":
        \"stripe_fee\",\n          \"description\": \"Stripe processing fees\",\n
        \         \"application\": null,\n          \"amount_refunded\": 0\n        }\n
        \     ],\n      \"disputed\": false\n    }\n  ]\n}\n"
  recorded_at: Tue, 17 Sep 2013 00:30:45 GMT
recorded_with: VCR 2.5.0
