---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?count=10&created%5Bgte%5D=1370224404&created%5Blt%5D=1370282280
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"list\",\n  \"count\": 5,\n  \"url\": \"/v1/charges\",\n
        \ \"data\": [\n    {\n      \"id\": \"ch_1wu2dZuxB4ekei\",\n      \"object\":
        \"charge\",\n      \"created\": 1370274676,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 995,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"cc_0ZBfgZ6CBLrFu3\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2013,\n        \"fingerprint\":
        \"eN9ATrlnOMYF6yIq\",\n        \"customer\": null,\n        \"country\": \"US\",\n
        \       \"address_city\": null\n      },\n      \"captured\": true,\n      \"balance_transaction\":
        \"txn_1wu2WcAScYOBAe\",\n      \"failure_code\": null,\n      \"customer\":
        \"cus_0Z7I0396KifB94\",\n      \"invoice\": \"in_1vmMbwLo5m9HJU\",\n      \"dispute\":
        null,\n      \"fee\": 59,\n      \"fee_details\": [\n        {\n          \"amount\":
        59,\n          \"currency\": \"usd\",\n          \"type\": \"stripe_fee\",\n
        \         \"description\": \"Stripe processing fees\",\n          \"application\":
        null,\n          \"amount_refunded\": 0\n        }\n      ],\n      \"disputed\":
        false\n    },\n    {\n      \"id\": \"ch_1wgdUUN9Cvyfol\",\n      \"object\":
        \"charge\",\n      \"created\": 1370224804,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 2900,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"cc_05gHg7nZUnf5MC\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 2,\n        \"exp_y[...]
