.plan-container
  .plan.orange
    .plan-header
      .plan-title
        Business
      .plan-price
        %span.note> $
        75
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Unlimited
          Email Reports (pdf)
        %li
          %strong Hourly
          Imports
        %li
          %strong Unlimited
          Storage
    .plan-actions
      %a.btn{:href => "javascript:;"} Purchase Now
