.plan-container
  .plan
    .plan-header
      .plan-title
        Enterprise
      .plan-price
        %span.note> $
        125
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Unlimited
          Email Reports (pdf)
        %li
          %strong Unlimited
          Data imports
        %li
          %strong Unlimited
          Storage
    .plan-actions
      %a.btn{:href => "javascript:;"} Purchase Now
