.plan-container
  .plan
    .plan-header
      .plan-title
        Free
      .plan-price
        %span.note> $
        0
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Weekly
          Email Reports (pdf)
        %li
          %strong Weekly
          Data imports
        %li
          %strong 1GB
          Storage
    .plan-actions
      %a.btn{:href => "javascript:;"} Purchase Now
