.plan-container
  .plan
    .plan-header
      .plan-title
        Starter
      .plan-price
        %span.note> $
        35
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Daily
          Email Reports (pdf)
          %li
            %strong Daily
            Data imports
          %li
            %strong 5GB
            Storage
    .plan-actions
      %a.btn{:href => "javascript:;"} Purchase Now
