.row-fluid.sortable
  .box.span12
    .box-header
      %h2
        %i.halflings-icon.list-alt
        = succeed @trend.desc do
          %span.break
      .box-icon
        %a.btn-setting{href: "#"}
          %i.halflings-icon.wrench
        %a.btn-minimize{href: "#"}
          %i.halflings-icon.chevron-up
        %a.btn-close{href: "#"}
          %i.halflings-icon.remove
    .box-content
      -if @trend.is_currency?
        =render '/charts/flot_fill_chart_amount', data: @trend, max_data_points: @max_data_points ,
           height:350, div:"#{@trend.div_name}_div"
      -else
        =render '/charts/flot_fill_chart_count', data: @trend, max_data_points: @max_data_points ,
           height:350, div:"#{@trend.div_name}_div"
.row-fluid.sortable
  .box.span12
    .box-header
      %h2
        %i.halflings-icon.align-justify
        = succeed @trend.desc do
          %span.break
      .box-icon
        %a.btn-setting{href: "#"}
          %i.halflings-icon.wrench
        %a.btn-minimize{href: "#"}
          %i.halflings-icon.chevron-up
        %a.btn-close{href: "#"}
          %i.halflings-icon.remove
    .box-content
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th Username
            %th Date registered
            %th Role
            %th Status
        %tbody
          %tr
            %td Vishnu Serghei
            %td.center 2012/01/01
            %td.center Member
            %td.center
              %span.label.label-success Active
          %tr
            %td Zbyněk Phoibos
            %td.center 2012/02/01
            %td.center Staff
            %td.center
              %span.label.label-important Banned
