#plan-options.row-fluid
	.box.span10
		= simple_form_for current_user, :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal' } do |f|
		  .modal-body
		    = f.input :plan, :collection => User.available_plans, :as => :radio_buttons, :label_method => lambda {|t| t.titleize}, :label => false, :item_wrapper_class => 'inline'
		  .modal-footer
		    = f.submit "Change Plan", :class => "btn btn-primary"
