.main
  .main-inner
    .container
      .row
        .span8
          .widget
            .widget-header
              %i.icon-user
              %h3 Your Credentials
            .widget-content
              = render 'user'
