.main
  .main-inner
    .container
      .row
        .span6
          .widget
            .widget-header
              %i.icon-user
              %h3 Your Credentials
            .widget-content
              = render 'user'
        .span4
          .widget.widget-box
            .widget-header
              %i.icon-info-sign
              %h3 Confidentiality
            .widget-content
              %p Your email is never shared with anyone, period. 
              %p We need your email for two reasons:
              %ul
                %li to email you reports if you have selected that option
                %li so we can identify you when you use the command line tool
          .widget.widget-box
            .widget-header
              %i.icon-warning-sign
              %h3 Cancel your account
            .widget-content
              = render 'cancel'