.widget.big-stats-container
  .widget-content
    #big_stats.cf
      .stat
        %h4=raw trailing_30_days_volume_icon
        %span.value= raw trailing_30_days_volume
      .stat
        %h4=raw trailing_30_days_acquisition_icon
        %span.value= raw trailing_30_days_acquisition
      .stat
        %h4=raw trailing_30_days_cancellation_icon
        %span.value= raw trailing_30_days_cancellation
      .stat
        %h4 Trailing 30 failed charges
        %span.value=raw trailing_30_failed_charges

<h4> </h4>

