.widget.big-stats-container
  .widget-content
    #big_stats.cf
      .stat
        %h4 Trailing 30 days volume
        %span.value $12,045
      .stat
        %h4 Trailing 30 days Acquisition
        %span.value 1200
      .stat
        %h4 Trailing 30 days Cancellation
        %span.value 142
      .stat
        %h4 Trailing 30 days Acquisition
        %span.value 13


