.row-fluid.hideInIE8.circleStats
  .span2{ondesktop: "span2", ontablet: "span4"}
    .circleStatsItemBox.yellow
      .header Customer Data Import 
      %span.percent percent
      .circleStat
        %input.whiteCircle{type: "text", value: "58"}/
      .footer
        %span.count
          %span.number 20000
          %span.unit MB
        %span.sep /
        %span.value
          %span.number 50000
          %span.unit MB