---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_1vExioyzHOiGOT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1369891199,\n  \"id\":
        \"cus_1vExioyzHOiGOT\",\n  \"livemode\": false,\n  \"description\": \"1 user-0047@sensr.net
        995:usd:month:7 on test\",\n  \"email\": \"user-0047@sensr.net\",\n  \"subscription\":
        {\n    \"id\": \"su_1vExP7opC8fJrB\",\n    \"plan\": {\n      \"interval\":
        \"month\",\n      \"name\": \"Sensr Plan usd 995/month\",\n      \"amount\":
        995,\n      \"currency\": \"usd\",\n      \"id\": \"995:usd:month:7\",\n      \"object\":
        \"plan\",\n      \"livemode\": false,\n      \"interval_count\": 1,\n      \"trial_period_days\":
        7,\n      \"identifier\": \"995:usd:month:7\"\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1369891199,\n    \"status\": \"trialing\",\n    \"customer\":
        \"cus_1vExioyzHOiGOT\",\n    \"current_period_start\": 1369891199,\n    \"current_period_end\":
        1496121171,\n    \"trial_start\": 1369891199,\n    \"trial_end\": 1496121171,\n
        \   \"quantity\": 1\n  },\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 0,\n    \"url\": \"/v1/customers/cus_1vExioyzHOiGOT/cards\",\n
        \   \"data\": []\n  },\n  \"default_card\": null,\n  \"next_recurring_charge\":
        {\n    \"date\": \"2017-05-30\",\n    \"amount\": 995\n  }\n}\n"
  recorded_at: Tue, 17 Sep 2013 00:42:35 GMT
recorded_with: VCR 2.5.0
