.widget
  .widget-header
    %i.icon-star
    %h3 Metrics
  .widget-content
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th This month
          %th Last month
          %th % change
          %th TSM Average
          %th Goal
      %tbody
        - @metrics.each do |m|
          %tr
            %th=m.name
            %td=m.this_month
            %td=m.last_month
            %td=m.change
            %td=m.tsm_avrg
            %td=m.goal
