.row
  .span4#benefit1
    .widget
      .widget-header
        %i.icon-heart
        %h3 Zero Configuration
      .widget-content
        %p.text
          Learn about your business and act on your metrics in a matter of minutes.
          %br
          We start data imports and aggregation automaticaly, as soon as you connect with your Stripe account.
  .span4#benefit2
    .widget
      .widget-header
        %i.icon-bar-chart
        %h3 Actionnable Metrics
      .widget-content
        %p.text
          No vanity metrics here!
          %br
          Metrics and tools that you - the developer - can laverage to identify issues and act !
          %br
  .span4#benefit3
    .widget
      .widget-header
        %i.icon-wrench
        %h3 Command Line
      .widget-content
        %p.text
          We provide beautifull charts for your CEO. 
          %br
          For you - the developer - we provide a command line interface and an API.
          %br
          So you can generate reports or list of customers with failed charges from the confort of your terminal.