.hero-unit
  %h1 Metrics & Analytics for Stripe
  %p 
  Revenue, Customer Acquisition, Churn rates, trends and cohort analysis - out of the box.
  %p
  %a.btn.btn-danger.btn-large.pull-right{:href => "#{signin_path}"}
    %i.icon-white.icon-thumbs-up
    Connect with Stripe and try - risk free !