.main
  .main-inner
    .container
      .row
        .span8
          .widget
            .widget-header
              %i.icon-thumbs-up
              %h3 Our Story
            .widget-content
              StripeMetrics was born as a response to a comment on a Hacker News post about the greatness of Stripe and the lack of analytics it provided. This was our Light Bulb moment..!
              %br
              = image_tag("y18.gif")
              = link_to('Simple SaaS Metrics Dashboard for Stripe','https://news.ycombinator.com/item?id=4439874')
          .widget
            .widget-header
              %i.icon-group
              %h3 Meet the team
            .widget-content
              %i.icon-linkedin-sign
              = link_to 'Yacin Bahi, PhD., Founder', 'https://www.linkedin.com/in/yacinbahi/' 
              %br
              Yacin founded StripeMetrics in 2013 our of necessity. As a passionate Stripe developer, Yacin needed a way to easily generate actionable reports from Stripe data.  
