.row-fluid
  .box.span8
    .box-header
      %i.icon-pushpin
      %h3 Frequently Asked Questions
    .box-content
      %ol.faq-list
        %li
          %h4 Is my data secure ?
          %p We have read-only access to your Stripe account. We only import data that is used to agregate trends. We don't store your customer information for example, data that we store is quantitative rather than quantitative. 
        %li   
          %h4 Is my data kept confidential ?
          %p We don't know who you are or what company you're representing. If your anonymity is important to you. make sure you to use a anonymous email address when registering.
        %li
          %h4 How long does the first import take ?
          %p It depends on how much data we have to import. It varies from a couple of minutes to a couple of hours. Imports are incremental and partial data and trends are available within 1 to 2 minutes.
        %li
          %h4 How do I connect my account with Stripe ?
          %p Use the "Connect with Stripe" link. This will sign you up as well as connect your account on StripeMetrics with your Stripe account. This will give us read-only access to your Stripe data.
        %li
          %h4 Are you affiliated with Stripe Inc. ?
          %p No, we are not affiliated with Stripe Inc., but we love what they do and we love metrics !
        %li
          %h4 What metrics are available ?
          %p Customer trends, including acquisition and cancellation. Transaction volume trends, by number, volume and TSM (trailing six month compound average).
          Anything missing, email us and we'll add it to the dashboard.
        %li
          %h4 What metrics will be released soon ?
          %p Customer trends, including acquisition and churn. Transaction volume trends, by number and volume. Projected monthly revenue, revenue last 30 trailing days and more. Anything missing, email us and we'll add it to the dashboard.
        %li
          %h4 A command line interface, really ?
          %p We're geeks and programmers and we love the command line. Visit 
          %a{:href => "http://yacc.github.io/stripemetrics-cli/"} stripemetrics-cli Github page
          for more information.
        %li
          %h4 How do I install the command line interface ?
          %p The command line interface is a Ruby gem. 
          .pre.code
            gem 'stripemetrics-cli', :git => 'git://github.com/yacc/stripemetrics-cli.git'
  .box.span4
    .box-content
      %a.btn.btn-large.btn-warning.btn-support-ask{:href => "http://support.stripemetrics.com/support/solutions"} Contact Support
      %a.btn.btn-large.btn-support-contact{:href => "http://support.stripemetrics.com/support/discussions"} Ask the Crowd
