.main
  .main-inner
    .container
      .row
        .span8
          .widget
            .widget-header
              %i.icon-pushpin
              %h3 Frequently Asked Questions
            .widget-content
              %ol.faq-list
                %li
                  %h4 Is my data secure and kept confidential ?
                  %p We don't know who you are or what company you're representing. We only import data that is used to agregate trends. We don't store your customer information for example. If your anonymity is important to you. make sure you to use a anonymous email address when registering.
                %li
                  %h4 How long does the first import take ?
                  %p It depends on how much data we have to import. It varies from a couple of minutes to a couple of hours. 
                %li
                  %h4 How do I connect my account with Stripe ?
                  %p use the "Connect with Stripe" link. This will sign you up as well as connect your account on StripeMetrics with your Stripe account.
                %li
                  %h4 Are you affiliated with Stripe Inc. ?
                  %p No, we are not affiliated with Stripe Inc., but we love what they do and we love metrics !
                %li
                  %h4 What metrics are available on the dashboard ?
                  %p 
                %li
                  %h4 How do I install the command line interface ?
                  %p The command line interface is a Ruby gem. Visit 'https://stripemetrics.github.com' for step-by-step instructions. 
                %li
                  %h4 A command line interface, really ?
                  %p We're geeks and programmers and we love the command line. 
        .span4
          .widget.widget-plain
            .widget-content
              %a.btn.btn-large.btn-warning.btn-support-ask{:href => "javascript:;"} Ask A Question
              %a.btn.btn-large.btn-support-contact{:href => "javascript:;"} Contact Support
          .widget.widget-box
            .widget-header
              %h3 Most Popular Questions
            .widget-content
              %p 

:javascript
  jQuery(function () {    
    jQuery('.faq-list').goFaq ();
  });
  
