.main
  .main-inner
    .container
      .row
        .span12
          .widget
            .widget-header
              %i.icon-th-large
              %h3 Choose Your Plan
            .widget-content
              = render '/home/plans/free'
              = render '/home/plans/starter'
              = render '/home/plans/business'
              = render '/home/plans/enterprise'
