.main
  .main-inner
    .container
      .row
        .span12
          = render "/home/steps/pitch"
      .row
        = render '/home/steps/first'
        = render '/home/steps/second'
        = render '/home/steps/third'
/TODO:
/ Real-time reporting and analytics for Stripe enabled applications.‎
