---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events?count=10&created%5Bgte%5D=1369007999&created%5Blt%5D=1368403200&type=customer.deleted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"list\",\n  \"count\": 0,\n  \"url\": \"/v1/events\",\n
        \ \"data\": []\n}\n"
  recorded_at: Tue, 17 Sep 2013 00:38:37 GMT
recorded_with: VCR 2.5.0
