---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events?count=10&created%5Bgte%5D=1316197169&created%5Blt%5D=1379355565&type=customer.deleted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NsYmhRReX6amReKBK6cKBg60Xe9pyF6W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"list\",\n  \"count\": 5,\n  \"url\": \"/v1/events\",\n
        \ \"data\": [\n    {\n      \"id\": \"evt_2aFxo8r2ZGXP5D\",\n      \"created\":
        1379351161,\n      \"livemode\": false,\n      \"type\": \"customer.deleted\",\n
        \     \"data\": {\n        \"object\": {\n          \"object\": \"customer\",\n
        \         \"created\": 1375825408,\n          \"id\": \"cus_2KyBtApA5CAC5Z\",\n
        \         \"livemode\": false,\n          \"description\": \"2 user-0028@sensr.net
        995:usd:month:7 on test\",\n          \"email\": \"user-0028@sensr.net\",\n
        \         \"subscription\": {\n            \"id\": \"su_2KyBlpnZDLVMs7\",\n
        \           \"plan\": {\n              \"interval\": \"month\",\n              \"name\":
        \"Sensr Plan usd 995/month\",\n              \"amount\": 995,\n              \"currency\":
        \"usd\",\n              \"id\": \"995:usd:month:7\",\n              \"object\":
        \"plan\",\n              \"livemode\": false,\n              \"interval_count\":
        1,\n              \"trial_period_days\": 7,\n              \"identifier\":
        \"995:usd:month:7\"\n            },\n            \"object\": \"subscription\",\n
        \           \"start\": 1375825408,\n            \"status\": \"trialing\",\n
        \           \"customer\": \"cus_2KyBtApA5CAC5Z\",\n            \"current_period_start\":
        1375825408,\n            \"current_period_end\": 1502055870,\n            \"trial_start\":
        1375825408,\n            \"trial_end\": 1502055870,\n            \"quantity\":
        1\n          },\n          \"account_balance\": 0,\n          \"cards\": {\n
        \           \"object\": \"list\",\n            \"count\": 0,\n            \"url\":
        \"/v1/customers/cus_2KyBtApA5CAC5Z/cards\",\n            \"data\": []\n          },\n
        \         \"default_card\": null\n        }\n      },\n      \"object\": \"event\",\n
        \     \"pending_webhooks\": 0,\n      \"request\": \"iar_2aFxiztLgxEa5t\"\n
        \   },\n    {\n      \"id\": \"evt_2aFw8yQsjHBVXs\",\n      \"created\": 1379351087,\n
        \     \"livemode\": false,\n      \"type\": \"customer.deleted\",\n      \"data\":
        {\n        \"object\": {\n          \"object\": \"customer\",\n          \"created\":
        1375825427,\n          \"id\": \"cus_2KyB6v05smD5AW\",\n          \"livemode\":
        false,\n          \"description\": \"3 user-0036@sensr.net 995:usd:month:7
[...]
