.span4.well.featured
  .plan.orange
    .plan-header
      .plan-title
        Gold
      .plan-price
        %span.note> $
        50
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Weekly
          Email Reports (pdf)
        %li
          %strong Weekly
          Imports
        %li
          %strong Unlimited
          Storage
        %li
          %strong API
          Enabled
    .plan-actions
      = render '/subscription/new', :div => 'subscribe-button-gold',:plan => 'gold', :amount => '5000', :description => "gold plan ($50/mo)"      
