.span4.well
  .plan.orange
    .plan-header
      .plan-title
        Platinum
      .plan-price
        %span.note> $
        29
        %span.term Per Month
    .plan-features
      %ul
        %li
          %strong Free
          setup
        %li
          %strong Unlimited
          Email Reports (pdf)
        %li
          %strong Hourly
          Imports
        %li
          %strong Unlimited
          Storage
    .plan-actions
      = render '/subscription/new', :div => 'subscribe-button-platinum', :plan => 'platinum', :amount => '6500', :description => "platinum plan ($65/mo)"      
