#welcome.pricing-header
  %h1 Upgrade to retain access to premium features
  %h2 Cancel at anytime. No risk.
.row  
.row-fluid.center
  = render 'silver_for_upgrading' 
  = render 'gold_for_upgrading'
  = render 'platinum_for_upgrading'