#welcome.hero-unit
  %h1.text-center Free 14 days trial !
  %h3.text-center Try Stripemetrics , for free, for a limited time only.
  .text.text-center
    offer expires July 15th, 2013.
.row-fluid.center
  = render 'silver'
  = render 'gold'
  = render 'platinum'