.extra
  .extra-inner
    .container
      .row
        .span3
          %h4 About
          %ul
            %li
              = link_to "About Us" , about_path
            %li
              = link_to "Twitter", "https://twitter.com/yaccbiz"
        .span3
          %h4 Support
          %ul
            %li
              = link_to "Frequently Asked Questions", 'http://support.stripemetrics.com/'
