%footer
  %p
    %span{style: "text-align:left;float:left"}
      ©
      %a{href: "", target: "_blank"} Ybsis Inc.
      2013
    %span.hidden-phone{style: "text-align:right;float:right"}
      %a{:href => "https://stripemetrics.com"} StripeMetrics
