%li.dropdown.hidden-phone
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    %i.halflings-icon.white.warning-sign
  %ul.dropdown-menu.notifications
    %li.dropdown-menu-title
      %span You have 11 notifications
      %a{href: "#refresh"}
        %i.icon-repeat
    %li
      %a{href: "#"}
        %span.icon.blue
          %i.icon-user
        %span.message New user registration
        %span.time 1 min
    %li
      %a{href: "#"}
        %span.icon.green
          %i.icon-comment-alt
        %span.message New comment
        %span.time 7 min
    %li
      %a{href: "#"}
        %span.icon.green
          %i.icon-comment-alt
        %span.message New comment
        %span.time 8 min
    %li
      %a{href: "#"}
        %span.icon.green
          %i.icon-comment-alt
        %span.message New comment
        %span.time 16 min
    %li
      %a{href: "#"}
        %span.icon.blue
          %i.icon-user
        %span.message New user registration
        %span.time 36 min
    %li
      %a{href: "#"}
        %span.icon.yellow
          %i.icon-shopping-cart
        %span.message 2 items sold
        %span.time 1 hour
    %li.warning
      %a{href: "#"}
        %span.icon.red
          %i.icon-user
        %span.message User deleted account
        %span.time 2 hour
    %li.warning
      %a{href: "#"}
        %span.icon.red
          %i.icon-shopping-cart
        %span.message Transaction was canceled
        %span.time 6 hour
    %li
      %a{href: "#"}
        %span.icon.green
          %i.icon-comment-alt
        %span.message New comment
        %span.time yesterday
    %li
      %a{href: "#"}
        %span.icon.blue
          %i.icon-user
        %span.message New user registration
        %span.time yesterday
    %li.dropdown-menu-sub-footer
      %a View all notifications
