%li.dropdown.hidden-phone
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    %i.halflings-icon.white.envelope
  %ul.dropdown-menu.messages
    %li.dropdown-menu-title
      %span You have 9 messages
      %a{href: "#refresh"}
        %i.icon-repeat
    %li
      %a{href: "#"}
        %span.avatar
          %img{alt: "Avatar", src: "img/avatar.jpg"}/
        %span.header
          %span.from
            Łukasz Holeczek
          %span.time
            6 min
        %span.message
          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
    %li
      %a{href: "#"}
        %span.avatar
          %img{alt: "Avatar", src: "img/avatar2.jpg"}/
        %span.header
          %span.from
            Megan Abott
          %span.time
            56 min
        %span.message
          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
    %li
      %a{href: "#"}
        %span.avatar
          %img{alt: "Avatar", src: "img/avatar3.jpg"}/
        %span.header
          %span.from
            Kate Ross
          %span.time
            3 hours
        %span.message
          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
    %li
      %a{href: "#"}
        %span.avatar
          %img{alt: "Avatar", src: "img/avatar4.jpg"}/
        %span.header
          %span.from
            Julie Blank
          %span.time
            yesterday
        %span.message
          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
    %li
      %a{href: "#"}
        %span.avatar
          %img{alt: "Avatar", src: "img/avatar5.jpg"}/
        %span.header
          %span.from
            Jane Sanders
          %span.time
            Jul 25, 2012
        %span.message
          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
    %li
      %a.dropdown-menu-sub-footer View all messages
