.main
  .main-inner
    .container
      .row
        .span6
          = render "status", :title => "Importing Customer Data", :imports_director => @customer_import_director
        .span6
          = render "status", :title => "Importing Charges Data", :imports_director => @charge_import_director
        .span6
          = render "status", :title => "Importing Customer Deleted Events", :imports_director => @cde_import_director
        .span6
          = render "status", :title => "Importing Subscription Deleted Events", :imports_director => @sde_import_director
