.row-fluid
  = render "status", :title => "Importing Customer Data", :imports => @customer_imports, :type => 'CustomerImport'
  = render "status", :title => "Importing Charges Data", :imports => @charge_imports, :type => 'ChargeImport'
.row-fluid
  = render "status", :title => "Importing Customer Deleted Events", :imports => @cde_imports, :type => 'CdeImport'
  = render "status", :title => "Importing Subscription Deleted Events", :imports => @sde_imports, :type => 'SdeImport'