%hr/
.row-fluid
  .circleStats
    .span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.red
        %i.fa-icon-thumbs-up
        %span.plus +
        %span.percent %
        %input.orangeCircle{:type => "text", :value => "58"}/
      .box-small-title User satisfaction
    .span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.blue
        %i.fa-icon-bullhorn
        %span.plus +
        %span.percent %
        %input.blueCircle{:type => "text", :value => "8"}/
      .box-small-title Popularity
    .span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.yellow
        %i.fa-icon-user
        %span.plus +
        %span.percent %
        %input.yellowCircle{:type => "text", :value => "12"}/
      .box-small-title New users
    .noMargin.span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.pink
        %i.fa-icon-globe
        %span.plus +
        %span.percent %
        %input.pinkCircle{:type => "text", :value => "23"}/
      .box-small-title Visits
    .span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.green
        %i.fa-icon-bar-chart
        %span.plus +
        %span.percent %
        %input.greenCircle{:type => "text", :value => "34"}/
      .box-small-title Income
    .span2{:ondesktop => "span2", :ontablet => "span4"}
      .circleStatsItem.lightorange
        %i.fa-icon-shopping-cart
        %span.plus +
        %span.percent %
        %input.lightOrangeCircle{:type => "text", :value => "42"}/
      .box-small-title Sales
