%footer
  %p
    %span{:style => "text-align:left;float:left"}
      \&copy;
      %a{:href => "http://clabs.co", :target => "_blank"} creativeLabs
      2013
    %span{:style => "text-align:right;float:right"}
      Powered by:
      %a{:href => "#"} Perfectum Dashboard
