.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse","data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path }
        %img{:alt => "Stripe Metrics", :src => "/assets/logo20.png"}/
        %span.hidden-phone Stripe Metrics
      / start: Header Menu
      .nav-no-collapse.header-nav
        %ul.nav.pull-right
          = render "/layouts/notifications_dropdown"
          = render "/layouts/tasks_dropdown" if false      
          = render "/layouts/messages_dropdown" if false
          %li
            %a.btn{:href => "#"}
              %i.icon-wrench.icon-white
          = render "/layouts/user_dropdown"
