.span2.main-menu-span
  .nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li
        %a{:href => "index.html"}
          %i.icon-home.icon-white
          %span.hidden-tablet Dashboard
      %li
        %a{:href => "ui.html"}
          %i.icon-eye-open.icon-white
          %span.hidden-tablet UI Features
      %li
        %a{:href => "form.html"}
          %i.icon-edit.icon-white
          %span.hidden-tablet Forms
      %li
        %a{:href => "chart.html"}
          %i.icon-list-alt.icon-white
          %span.hidden-tablet Charts
      %li
        %a.dropmenu{:href => "#"}
          %i.fa-icon-folder-close-alt
          %span.hidden-tablet Dropdown
        %ul
          %li
            %a.submenu{:href => "submenu.html"}
              %i.fa-icon-file-alt
              %span.hidden-tablet Sub Menu 1
          %li
            %a.submenu{:href => "submenu.html"}
              %i.fa-icon-file-alt
              %span.hidden-tablet Sub Menu 2
          %li
            %a.submenu{:href => "submenu.html"}
              %i.fa-icon-file-alt
              %span.hidden-tablet Sub Menu 3
      %li
        %a{:href => "typography.html"}
          %i.icon-font.icon-white
          %span.hidden-tablet Typography
