%hr/
.sortable.row-fluid
  %a.quick-button.span2
    %i.fa-icon-group
  %p Users
  %span.notification 1.367
  %a.quick-button.span2
    %i.fa-icon-comments-alt
  %p Comments
  %span.notification.green 167
  %a.quick-button.span2
    %i.fa-icon-shopping-cart
  %p Orders
  %a.quick-button.span2
    %i.fa-icon-barcode
  %p Products
  %a.quick-button.span2
    %i.fa-icon-envelope
  %p Messages
  %a.quick-button.span2
    %i.fa-icon-calendar
  %p Calendar
  %span.notification.red 68
 