%li.dropdown.hidden-phone
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-warning-sign.icon-white
    %span.label.label-important.hidden-phone 2
    %span.label.label-success.hidden-phone 11
  %ul.dropdown-menu.notifications
    %li
      %span.dropdown-menu-title You have 11 notifications
    %li
      %a{:href => "#"}
        +
        %i.icon-user
        %span.message New user registration
        %span.time 1 min
    %li
      %a{:href => "#"}
        +
        %i.icon-comment
        %span.message New comment
        %span.time 7 min
    %li
      %a{:href => "#"}
        +
        %i.icon-comment
        %span.message New comment
        %span.time 8 min
    %li
      %a{:href => "#"}
        +
        %i.icon-comment
        %span.message New comment
        %span.time 16 min
    %li
      %a{:href => "#"}
        +
        %i.icon-user
        %span.message New user registration
        %span.time 36 min
    %li
      %a{:href => "#"}
        +
        %i.icon-shopping-cart
        %span.message 2 items sold
        %span.time 1 hour
    %li.warning
      %a{:href => "#"}
        \-
        %i.icon-user.icon-red
        %span.message User deleted account
        %span.time 2 hour
    %li.warning
      %a{:href => "#"}
        \-
        %i.icon-shopping-cart.icon-red
        %span.message Transaction was canceled
        %span.time 6 hour
    %li
      %a{:href => "#"}
        +
        %i.icon-comment
        %span.message New comment
        %span.time yesterday
    %li
      %a{:href => "#"}
        +
        %i.icon-user
        %span.message New user registration
        %span.time yesterday
    %li
      %a.dropdown-menu-sub-footer View all notifications
